/*Globales*/
*{
    box-sizing: border-box;
    
}

h1{
    text-align: center;
}
h2{
    margin-bottom: 30px;
}

.container{
    width: 87%;
    margin:auto;
}

.img-seccion-hero{
    filter: drop-shadow(0 0 12px crimson); /*Filter para que nos resiga la imagen*/
}

/*Auxiliares*/

.center{
    text-align: center;
}
.left{
    text-align: left;
}

.animalot-foto{
    border-radius: 10px;
    width: 80%;
}


.hidden{
    opacity: 0%;
}


/*Listas*/

.persona{
display: flex;
flex-direction: column;
text-align: left;
border: 1px solid black;
list-style: none;
padding: 15px;
background-color: lightgray;
margin-bottom: 25px;
width: 100%;
align-items: center;
border-radius: 10px;
}

.personaSeleccionada{
    background-color: yellowgreen;
}

.animal{
    text-align: right;
}

.animalAdoptado{
    filter: grayscale(100%);
    position: relative;
    opacity: calc(65%);
}

/*Bootstrap*/

.card{
    position:relative;
    width: 280px;
    margin-bottom: 18px;
    background-color: green;
    -webkit-box-shadow: 1px -1px 82px -37px rgba(0,0,0,0.17);
    -moz-box-shadow: 1px -1px 82px -37px rgba(0,0,0,0.17);
    box-shadow: 1px -1px 82px -37px rgba(0,0,0,0.17);
    transition: box-shadow 0.4s ease;
}

.card:hover{
    -webkit-box-shadow: 1px -1px 105px -19px rgba(0,0,0,0.29);
    -moz-box-shadow: 1px -1px 105px -19px rgba(0,0,0,0.29);
    box-shadow: 1px -1px 105px -19px rgba(0,0,0,0.29);
    transition: 0.4s ease;
}

.card-img-top{
    max-height: 291px;
    max-width: 278px;
}

.card-body{
    background: #E7E2DC;
}

.infoCarta{
    padding: 10px;
    padding-bottom: 70px;
}

.botonAdoptar{
    background-color: #007bff;
    color: white; 
    border: none;
    padding: 10px 20px;
    gap: 20px;
    border-radius: 8px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; 
    text-decoration: none;
}

.botonAdoptar:hover{
    background-color: #0056b3;
}

.cruz {
    position: absolute;
    top: 17.5%; 
    left: 5%;
    width: 260px; 
    height: auto; 
    z-index: 3; 
    pointer-events: none;
}

.persona-card {
    position:relative;
    width: 280px;
    margin-bottom: 18px;
    background-color: green;
    -webkit-box-shadow: 1px -1px 82px -37px rgba(0,0,0,0.17);
    -moz-box-shadow: 1px -1px 82px -37px rgba(0,0,0,0.17);
    box-shadow: 1px -1px 82px -37px rgba(0,0,0,0.17);
    transition: box-shadow 0.4s ease;
}

.animal-adoptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.texto-adoptado {
    font-size: 14px;
    font-weight: bold;
    color: #28a745;
    text-align: center;
    cursor: pointer;
}



/*Sobre Nosotros*/

.imgNosotros{
    width: 480px;
    height: 430px;
    border-radius: 5px;
}

.containerNosotros{
    display: flex;
    gap: 50px;
    grid-template-columns: calc(2 1fr);
}

